*.o
_done*
lasagna/libasagna.a
lasagna/outvec/mk_outvec
lasagna/outvec/outvec_STDOUT.h
lasagna/rlimit/mk_rlimit
lasagna/rlimit/rlimit_defs.c.in
lasagna/sysstr/mksysstr
lasagna/sysstr/sysstr_errno.c.in
lasagna/sysstr/sysstr_signo.c.in
perp/perp-setup
perp/perpboot
perp/perpctl
perp/perpd
perp/perphup
perp/perpls
perp/perpok
perp/perpstat
perp/sissylog
perp/tinylog
runtools/catargs
runtools/catenv
runtools/catlimits
runtools/catuid
runtools/runargs
runtools/runargv0
runtools/runchoom
runtools/rundetach
runtools/rundeux
runtools/runenv
runtools/runfile
runtools/runlimit
runtools/runlock
runtools/runpause
runtools/runsession
runtools/runtool
runtools/runtrap
runtools/runuid
